.conten-carrousel {
  display: flex;
  flex-direction: row;
  width: 98vw;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 20px;
}

.content-image {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: inherit;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 0 5px;
}

.content-image_2 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: inherit;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 0 5px;
}

.image {
  min-width: 220px;
  height: 150px;
  border-radius: 4px;
  scroll-snap-align: start;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.1);
  transform-origin: center;

  color: white; /* Cambia el color del texto a blanco */
}

.prev-button_1 {
  border: none;
  background: rgb(0, 0, 0, 0.3);
  font-size: 40px;
  height: 24%;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  padding: 45px 0px;
  position: absolute;
  left: 0;
}

.next-button_1 {
  border: none;
  position: absolute;
  right: 0;
  background: rgb(0, 0, 0, 0.3);
  font-size: 40px;
  height: 24%;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  padding: 45px 0px;
}
.prev-button_2 {
  border: none;
  background: rgb(0, 0, 0, 0.3);
  font-size: 40px;
  height: 24%;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  padding: 45px 0px;
  position: absolute;
  left: 0;
}

.next-button_2 {
  border: none;
  position: absolute;
  right: 0;
  background: rgb(0, 0, 0, 0.3);
  font-size: 40px;
  height: 24%;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  padding: 45px 0px;
}

.movie-container_title {
  color: #ffffff;
  width: 97vw;
}
