/* Estilo general del Navbar */
.navbar {
  background-color: #343a40; /* Color de fondo del Navbar */
}

/* Estilo de los elementos del Navbar */
.navbar-brand,
.navbar-nav .nav-link,
.navbar-nav .nav-dropdown .nav-link {
  color: white; /* Color del texto en el Navbar */
}

/* Ajuste de los elementos en pantallas pequeñas */
@media only screen and (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; /* Alinear verticalmente los elementos en pantallas pequeñas */
  }
}
/* Aumenta el z-index del botón del menú hamburguesa en modo responsive */
@media (max-width: 991.98px) {
  .navbar-toggler-icon {
    z-index: 9999; /* Ajusta el valor según tus necesidades */
  }
}

/* Aumenta el z-index del menú en modo responsive */
@media (max-width: 991.98px) {
  .navbar-collapse {
    z-index: 9999; /* Ajusta el valor según tus necesidades */
  }
}
